<!DOCTYPE html>
<html>
<head>
  <title>Tastemade - The Random Sampler</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,500italic,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="sprites/css-sprite/sprite-av-white.css">
  <link rel="stylesheet" href="css/nprogress.css"/>
  <link rel="stylesheet" href="css/app.css" />
</head>
<body>
  <div id="random-sampler">
    <header class="banner hidden">
      <h1 id="logo" class="logo"><img src="images/tm-script-logo-light.png" alt="Tastemade" /></h1>
      <h2 class="random-sampler">The Random Sampler</h2>
    </header>

    <!-- title/splash screen -->
    <div class="splash">
      <div class="splash-logo"><img src="images/tm-script-logo-light.png" alt="Tastemade" /></div>
      <div class="splash-sampler">The Random Sampler</div>
    </div>

    <!-- next choices -->
    <section class="choices">
      <ul class="choice-list"></ul>
    </section>

    <!-- current video -->
    <section class="current hidden">
      <!-- thumbnail overlay -->
      <div class="current-thumb">
        <!-- play button -->
        <svg class="current-play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <path d="M-838-2232H562v3600H-838z" fill="none"/>
          <path d="M16 10v28l22-14z"/>
          <path d="M0 0h48v48H0z" fill="none"/>
        </svg>
        <div class="title"></div>
      </div>
      <!-- current video container -->
      <div class="current-video-container paused">
        <section class="current-video-wrapper">
          <!-- video -->
          <video class="current-video" src="" id="current-video" />
        </section>
      </div>
    </section>

    <!-- meta data -->
    <aside id="current-meta" class="current-meta hidden">
     <div class="current-skip">
        <div class="skip">
          <!-- refresh icon -->
          <svg class="refresh" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24">
            <path d="M17.65 6.35c-1.45-1.45-3.44-2.35-5.65-2.35-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78l-3.22 3.22h7v-7l-2.35 2.35z"/>
            <path d="M0 0h24v24h-24z" fill="none"/>
          </svg>
        </div>
      </div>

      <!-- creator, location, created at relative -->
      <div class="meta"></div>

      <!-- map -->
      <h1 class="current-map-title">Location:</h1>
      <div class="current-map"></div>

    </aside>
  </div>

  <!-- templates -->
  <script type="text/x-template" id="choiceTpl">
    <div class="choice-thumb" style="background-image: url(<%= thumbnail.url %>)">
      <h2 class="choice-title"><%= title %></h2>
    </div>

    <div class="description">
      <div class="created-at"><%= createdAtRelative %></div>
      <% if (venue) { %>
        <div class="location"><%= venue.geoName %></div>
      <% } %>
    </div>
  </script>
  <script type="text/x-template" id="currentVideoMetaTpl">
    <div class="current-video-meta">
      <p class="creator-name"><%= creator.name %></p>
      <% if (venue) { %>
        <p class="location-name"><%= venue.geoName %></p>
      <% } %>
      <p class="created-at"><%= createdAtRelative %></p>
    </div>
  </script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
